################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FreeMediatR/bin/Debug/net8.0
/FreeMediatR/obj
/FreeMediatRSample/bin/Debug/net8.0
/FreeMediatRSample/obj
